@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
}

p{
    font-family: "Roboto", sans-serif;
}

.flex{
    display: flex;
}

.space-between{
    
}

.ph-100{
    padding-left: 100px;
    padding-right:100px;
}

.pv-50{
    padding-top:50px;
    padding-bottom:50px;
}

.max-width{
    width:100%;
}

.align-center{
    align-items:center;
}

.